*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}
body{
  font-family: 'Roboto', sans-serif;

  background-color: #FAFAFA;
}
header{
  width: 100%;
  height: 69px;

  background-color: #EC362D;

  box-shadow: 0px 4px 4px 0px #00000040;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 5;
}
header p{
  font-size: 37px;
  font-weight: 700;
  color: #FFFFFF;
}
main{
  width: 100%;
  
  display: flex;
  justify-content: center;

  margin: 69px 0px 69px 0px;
}
.main-screen{
  width: 1100px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.own-quizz{
  width: 1051px;
  min-height: 181px;

  margin: 77px 0px 77px 0px;

  display: flex;
  flex-direction: column;  
}
.no-quizz{
  border: 1px dashed #D4D4D4;
  align-items: center;
}
.no-quizz p{
  text-align: center;

  font-size: 20px;
  font-weight: 400;
  color: #B9B9B9;
  line-height: 23.44px;

  margin: 50px 0px 25px 0px;
}
.no-quizz div{
  width: 136px;
  height: 40px;

  text-align: center;

  border: 1px dashed #EC362D;
  border-radius: 50px;

  font-size: 21px;
  font-weight: 400;
  color: #EC362D;
}
.no-quizz div:hover, .title svg:hover{
  cursor: pointer;
}
.have-quizz{
  justify-content: center;
  gap: 15px;
}
.title-section{
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  font-size: 20px;
  font-weight: 700;
}
.section-quizz{
  width: 100%;

  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}
.quizz-card{
  width: 340px;
  height: 181px;

  border-radius: 5px;

  position: relative;

  display: flex;
  justify-content: center;
}
.quizz-card img{
  width: 100%;
  height: 100%;
}
.quizz-card p{
  width: 320px;
  
  margin: 10px 10px 10px 10px;

  font-size: 19px;
  font-weight: 400;
  color: #FFFFFF;

  position: absolute;
  bottom: 0;
  z-index: 2;
}
.gradient-shadow{
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
  
  position: absolute;
  top: 0;
  z-index: 1;
}
.list-quizzes{
  width: 1051px;
  min-height: 181px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}


.quizz-screen{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
}
.header-quizz{
  width: 100%;
  height: 227px;

  position: relative;

}
.header-quizz img{
  width: 100%;
}
.shadow{
  width: 100%;
  height: 100%;

  background-color: #000000;
  opacity: 0.6;

  position: absolute;
  top: 0;
  z-index: 2;
}
.header-quizz p{
  width: 100%;
  height: 100%;

  font-size: 39px;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;


  position: absolute;
  top: 0;
  z-index: 3;
}


@media (max-width:1100px) {
  .main-screen{
    width: 350px;
  }  
  .own-quizz{
    width: 340px;

    margin: 35px 0px 35px 0px;
  }
  .list-quizzes{
    width: 340px;
  }
  .title-section{
    justify-content: space-between;
  }


  .quizz-screen{
    gap: 24px;
  }
  .header-quizz{
    height: 142px;
  }
  .header-quizz p{
    font-size: 19px;
  }

}

.minimize{
  display: none;
}